
.payment{
    background-color: white;
}

h1{
    text-align:center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;

}

.payment__section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.payment__title{
    flex:0.2;
}
.payment__address, .payment__items{
    flex:0.8;
}
.payment_method{
    flex:0.3;
}
.payment__details{
    flex:0.7;
    margin-left: 145px;
}
.payment__details>form>button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color:#a88734  #9c7e31 #846a29;
    color: black;
    margin-bottom: 15px;
    height: 30px;
    width: 300px;
    border-radius: 3px;
}
