.subtotal{
    display:flex;
    flex-direction: column;
    border: solid 1px grey;
    /* width: 220px;
    height: 100px; */
    background-color: #f3f3f3;
    /* align-items: center; */
    /* justify-content: space-between; */
    border-radius: 3px;
    margin:30px;
    padding: 25px;
   
    font-size: 24px;
}
.subtotal__button{
   text-align: center;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color:#a88734  #9c7e31 #846a29;
    color: black;
    width: 200px;
}
p{
    margin: 0;
}
.subtotal__heading{
    font-size: 30px
}
.subtotal__gift{
    font-size:24px ;
}

.subtotal__proceed{
font-size: 24px;
}